:root {
    --p-color: #132F7A;
    --tw-gradient-stops: rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)
}

.nav-link {
    width: 150px;
    flex-shrink: 1;
    align-items: center;
    height: 100%;
}

.l-sm {
    text-align: left;
    width: 100%;
}

.nav-link>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    will-change: background-color;
    transition: background-color .3s;
}

.l-sm>a {
    text-align: left;
    padding: 5px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
}



.nav-link>a:hover {
    background-color: red;
}

.l-sm>a:hover {
    border-bottom: 1px solid white;
}

.slider {
    scroll-snap-type: x mandatory;
    height: 100%;
    display: flex;
    align-items: flex-start;
    overflow-y: hidden;
    align-tracks: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--background)
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider-item {
    flex-basis: 100%;
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid white;
    display: grid;
    place-items: center;
    padding: var(--gap)var(--gap-half);
    user-select: none;
}

.aIcon {
    background-color: var(--accents-1);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--accents-5);
}

.prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
}

.next {
    right: 0;
}

.menu-line {
    width: 40px;
    height: 3px;
    border-radius: 3px;
    background-color: white
}